
<div id="wrapper-new">
    <div class="container">
        <ul class="progressbar">
            <li class="active"></li>
            <li></li>
        </ul>
    </div>

    <p id="question" class="display-6 fw-semibold">Welcome!</p>
    <div id="init-login" class="container rounded-4 border border-dark pt-5 ps-9"> 
        <form action="/organizers/login" method="POST" id="signUp">
            <div class="mb-2">
                <label for="username" class="form-label" >Username</label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
                
            </div>
            <button type="submit" class="btn btn-dark mt-3">Login</button>
            
            </div>

    </form>
</div>
<!-- error handeling -->
<%if(name_error!=""){%>
    <div class="alert alert-danger w-25 mt-3" role="alert" style="margin-left:34%" >
        <%=name_error%>
      </div>
<%}%>
<%if(exists_error!=""){%>
    <div class="alert alert-danger w-25 mt-3" role="alert" style="margin-left:34%" >
        <%=exists_error%>
      </div>
<%}%>
<%if(pass_error!=""){%>
    <div class="alert alert-danger w-25 mt-3" role="alert" style="margin-left:34%" >
        <%=pass_error%>
      </div>
<%}%>
