<div id="wrapper-new">
    <div class="container">
        <ul class="progressbar">
            <li class="active"></li>
            <li class="active"></li>
        </ul>
    </div>

    <p id="question" class="display-6 fw-semibold " style="padding-left:2%">Organizer Signup</p>
    <div id="init-new" class="container rounded-4 border border-dark pt-5 ps-9"> 
        <form action="/organizers" method="POST" id="signUp">
            <div class="mb-2">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-dark mt-3">Submit</button>
            <div class="mb-2">
                <span class="fw-bold">Already signed up?</span></br>
                <a class="text-dark text-decoration-none" style="font-style: italic;font-weight: lighter;" href="/organizers/login">Login</a>
            </div>
            </div>

    </form>
</div>
    <!-- <label for="username">Username:</label>
          <input  name="username" id="username">
      
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
      
          <button type="submit">Sign Up</button> -->